/* 文章页H1-H6图标样式效果 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 1.6s linear infinite;
  animation: ccc 1.6s linear infinite;
}

@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

/* 小风车颜色、大小修改 */
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}

#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}

#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}

#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}

#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}

#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}

/* 日间模式页面调整 */
[data-theme="light"] {
  --card-bg: rgba(255, 255, 255, 0.9) !important;
  /* 全局背景调整 */
}

/* 夜间模式页面调整 */
[data-theme="dark"] {
  --card-bg: rgba(26, 27, 29, 0.9) !important;
  /* 全局背景调整 */
  --btn-bg: #012c48 !important;
  /* 页面所有按钮夜间背景色 */
}

/* 图片下的说明文字居中 */
.jg-caption {
  text-align: center !important;
}

/* 给每个图片下增加个小图标 */
.jg-caption-visible::before {
  content: "⊙ ";
}

.fancybox-caption__body::before {
  content: "⊙ ";
}

.img-alt.is-center::before {
  content: "⊙ ";
}

/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/****************************** 页脚footer开始 ******************************/
/* 页脚footer */
/* 渐变色滚动动画 */
/* @-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

#footer {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#footer:before {
    background-color: rgba(0, 0, 0, 0);
} */
#footer {
  color: #000;
  -webkit-backdrop-filter: saturate(100%) blur(5px);
  backdrop-filter: saturate(100%) blur(5px);
}

#footer,
#footer:before {
  background: hsla(0, 0%, 100%, 0.15);
}

#footer #footer-wrap,
#footer #footer-wrap a {
  color: #333;
}

/****************************** 滚动条开始 ******************************/
/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/****************************** aplayer 播放器隐藏结束 ******************************/
.aplayer .aplayer-lrc p {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px !important;
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
  font-size: 15px;
  color: #49b1f5;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
}

/****************************** 标题居中 ******************************/
#page h1.page-title,
#post > #post-info {
  text-align: center;
}

/****************************** 背景渐变 ******************************/
#web_bg {
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1),
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1)
  );
}
/****************************** 鼠标样式开始 ******************************/
body {
  cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
    default;
}
a,
img {
  cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
    default;
}
/****************************** IconFont优化开始 ******************************/
.iconfont {
  display: inline-block;
}

.icon-weibo:before {
  color: #e71f19;
}
.icon-bilibili:before {
  color: #1296db;
}
.icon-CSDN:before {
  color: #d81d06;
}
.icon-youxiang:before {
  color: #fc7a00;
}
.icon-RSS:before {
  color: #d68650;
}
/* 自定义note */
.note.custom {
  background-color: #f7f7f7;
  border-left-color: #777;
  display: block;
}
.custom:not(.no-icon)::before {
  font-family: "iconfont";
  color: var(--icon-color, #333);
}
/****************************** Clock优化开始 ******************************/
#aside-content.aside-content>.sticky_clock>.card-widget.card-clock>.card-glass>.card-background {
    background-color: unset;
    box-shadow: unset
}

#hexo_electric_clock>.clock-row {
    color: var(--text-highlight-color)
}
