@font-face {
  font-family: "iconfont"; /* Project id 2254972 */
  src: url('//at.alicdn.com/t/font_2254972_44jpdqajdnw.woff2?t=1625011303018') format('woff2'),
       url('//at.alicdn.com/t/font_2254972_44jpdqajdnw.woff?t=1625011303018') format('woff'),
       url('//at.alicdn.com/t/font_2254972_44jpdqajdnw.ttf?t=1625011303018') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e621";
}

.icon-facebook:before {
  content: "\e61b";
}

.icon-gmail:before {
  content: "\e61c";
}

.icon-instagram:before {
  content: "\e61d";
}

.icon-google:before {
  content: "\e61e";
}

.icon-OneDrive:before {
  content: "\e61f";
}

.icon-outlook:before {
  content: "\e620";
}

.icon-Twitter:before {
  content: "\e61a";
}

.icon-RSS:before {
  content: "\e618";
}

.icon-youxiang:before {
  content: "\e619";
}

.icon-CSDN:before {
  content: "\e617";
}

.icon-bilibili:before {
  content: "\e615";
}

.icon-weibo:before {
  content: "\e616";
}

.icon-aixin:before {
  content: "\e614";
}

.icon-aliyun:before {
  content: "\e605";
}

.icon-mooc:before {
  content: "\e606";
}

.icon-zhihu:before {
  content: "\e607";
}

.icon-youku:before {
  content: "\e608";
}

.icon-shaoshupai:before {
  content: "\e609";
}

.icon-yunyouxiang:before {
  content: "\e60a";
}

.icon-jingdong:before {
  content: "\e60b";
}

.icon-iconfont:before {
  content: "\e60c";
}

.icon-tieba:before {
  content: "\e60d";
}

.icon-baiduyun:before {
  content: "\e60e";
}

.icon-mukewang:before {
  content: "\e60f";
}

.icon-jianshu:before {
  content: "\e610";
}

.icon-tengxunyun:before {
  content: "\e611";
}

.icon-tengxunshipin:before {
  content: "\e612";
}

.icon-wangyiyun:before {
  content: "\e613";
}

.icon-daohang:before {
  content: "\e603";
}

.icon-pan:before {
  content: "\e604";
}

.icon-apple:before {
  content: "\e602";
}

.icon-douban:before {
  content: "\e601";
}

